.content{
    display: flex;
    min-height: 100vh;
}
.left{
    flex: 2;
    background-color: red;
}
.right{
    flex: 8;
    background-color: aqua;
}
.deyisilecek{
    background-color: blueviolet;
    height: 100vh;
}
.Active{
    color: blue;
}
.MoviesHeaderDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.Hd{
    text-shadow: 10px 5px 6px rgba(15, 219, 242, 0.5);
    color: rgb(202, 199, 199);
}

.MovieInput{
    border: 1px solid #ccc; /* Устанавливаем границу */
    border-radius: 5px; /* Закругляем углы */
    box-shadow: 12px 4px 8px 4px rgba(94, 116, 235, 0.1); /* Добавляем тень */
    font-size: 16px; 
    outline: none; 
}
.inputDivs{
    display: flex;
    gap: 10px;
}
.MovieMain{
    background-color: rgb(9, 9, 89);
    min-height: 1000px;
    
}
.CardDivMovies{
    border-radius: 10px; 
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.825); 
    background-color: gray;
    width: 300px;
    height: 500px;
}

.moviesTitle{
    color: rgb(10, 10, 111);
    padding: 4px;
    margin: 2px;
    
}
.moviesButton{
    background-color: rgb(10, 10, 111);
    font-size: 16px;
    color: white; 
    border: none; 
    padding: 17px 35px; 
    border-radius: 10px; 
    cursor: pointer;
    transition: background-color 0.3s; 
   
}
.moviesButton :hover {
    background-color: royalblue; 
}
.movieButtontext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.MovieImg{
    width: 300px;
    height: 300px;
   
}
.FullCardDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-top: 30px;

}
.FullDivDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 81);
    min-height: 800px;
}
.FullCardDetailDiv{
    display: flex;
    background-color: rgba(0, 0, 0, 0.671);
    width: 900px;

    border-radius: 30px;
}
.CardDetailp{
    color: #ccc;
    font-size: 23px;
}
.CardDetailSpan{
    color: blue;
    font-size: 18px;
}
.LeftDivDetail{
    width: 700px;
    min-height: 300px
}
.back {
    position: fixed; 
    top: 20px; 
    left: 20px; 
    z-index: 11111; 
    background-color: #000; 
    color: blue;
    padding: 15px 30px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: background-color 0.3s
}
.TextEror{
    padding-top: 40px;
    color: red;
    font-size: 40px;

}
.BtnSearchMovies{
    background-color: #02172d;
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    margin-right: 20px;
}